@import '~@sass/themeify.scss';
@import '~@sass/utils.scss';

.container {
  @include circle(1rem, red);

  @include themeify {
    color: themed('text-color-white');
    background-color: themed('bg-color-primary-light');
  }

  position: fixed;
  z-index: 102;
  right: .5rem;
  bottom: .5rem;
  &:active {
    background-color: red;
  }


}
