/* 全局样式 */
@import './utils.scss';
@import './themeify.scss';
@import './antd-mobile.scss';
#root {
  height: 100vh;
  @include themeify {
    background-color: themed('bg-color-white');
  }
  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: px2rem(32);
  touch-action: manipulation;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.w100percent {
  width: 100%;
}

.h100percent {
  height: 100%;
}

.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.jc {
  justify-content: center;
}

.jsb {
  justify-content: space-between;
}

.jsa {
  justify-content: space-around;
}

.ac {
  align-items: center;
}
