$themes: (
  light: (
    /* font-size */ font-size-default: 14px,
    font-size-lg: 16px,
    font-size-sm: 12px,
    /* Color */ color-white: #fff,
    color-success: #13ce66,
    color-error: #ff4949,
    color-warning: #ffc82c,
    color-info: #78a4fa,
    // Text Color
      text-color-primary: #eb4331,
    text-color-white: #ffffff,
    text-color-black: #333,
    text-color-default: #999999,
    text-color-placeholder: #cccccc,
    text-color-disabled: #f9f9f9,
    // Background Color
      bg-color-primary: #eb4331,
    bg-color-primary-light: #eb6c5e,
    bg-color-white: #ffffff,
    bg-color-grey: #c5c5c5,
    bg-color-light: #ecf5fd,
    bg-color-verifycode: #cfcfcf,
    // Border Color
      border-color-primary: #e64644,
    border-color-primary-light: #dc2b34,
    border-color-white: #ffffff,
    border-color-default: #cccccc,
    // Link Color
      link-color-primary: #d91721,
    link-color-primary-light: #b51d29,
    link-color: #6190e8,
    link-color-light: #79a1eb,
    link-color-disabled: #bfbfbf,
    // Icon Color
      icon-color-base: #ccc
  ),
  dark: (
    /* font-size */ font-size-default: 14px,
    font-size-lg: 16px,
    font-size-sm: 12px,
    color-white: #fff,
    /* Color */ color-success: #13ce66,
    color-error: #ff4949,
    color-warning: #ffc82c,
    color-info: #78a4fa,
    // Text Color
      text-color-primary: #752522,
    text-color-white: #7f7f7f,
    text-color-black: #717f7f,
    text-color-default: #686868,
    text-color-placeholder: #4d4d4d,
    text-color-disabled: #0a0a0a,
    // Background Color
      bg-color-primary: #752522,
    bg-color-primary-light: #8a4846,
    bg-color-white: #0a0a0a,
    bg-color-grey: #aca9a9, 
    bg-color-light: #ecf5fd,
    bg-color-verifycode: #cfcfcf,
    // Border Color
      border-color-primary: #e64644,
    border-color-primary-light: #dc2b34,
    border-color-white: #ffffff,
    border-color-default: transparent,
    // Link Color
      link-color-primary: #d91721,
    link-color-primary-light: #b51d29,
    link-color: #6190e8,
    link-color-light: #79a1eb,
    link-color-disabled: #bfbfbf,
    // Icon Color
      icon-color-base: #ccc
  )
);
