@import '~@sass/utils.scss';

.homeContainer {
  color: red;
  width: px2rem(300);
}
.class1 {
  color: green;
}

.class2 {
  color: skyblue;
}


.demoBox {
  width: 3.75rem;
  height: 1rem;
  background-color: skyblue;
}