@import '~@sass/themeify.scss';
@import '~@sass/utils.scss';

.container {
  @include width-height(100vw, 100vh);
  @include themeify {
    color: themed('text-color-white');
    background-color: themed('bg-color-primary');
  }

  position: fixed;
  z-index: 101;
}

.jump {
  width: 1.6rem;
  height: .6rem;
  position: absolute;
  top: .4rem;
  right: .4rem;
  @include themeify {
    color: themed('text-color-black');
    background-color: themed('bg-color-white');
  }

  // padding: .1rem 0.2rem;
  border-radius: 0.1rem;
}

.mainText {
  font-size: 0.8rem;
  margin-top: -2rem;
}
